<li id="post-<%= post._id%>">
    <div class="post-header">
        <h4>
            <%= post.user.name %> <span>
                    <% if(locals.user && locals.user.id==post.user.id){%>
                        <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">
                            <i class="fa-solid fa-trash delete" style="color: #bea527;"></i>
                        </a>
                        <%}%>

                </span>
        </h4>
    </div>
    <div class="post-content">
        <p>
            <%= post.content%>
        </p>
    </div>


    <div class="post-comments">
        <%if(locals.user) { %>
            <form action="/comments/create" method="Post">

                <input type="text" name="comment" placeholder="Type your comment">
                <input type="hidden" name="post" value="<%=post._id%>">
                <input type="submit" value="Add Comment">

            </form>




            <%}%>

                <div class="post-comments-list">
                    <ul id="post-comments-<%=post._id%>">
                        <% for(comment of post.comments) {%>
                            <%-include('_comment')-%>
                                <%}%>
                    </ul>
                </div>
    </div>

</li>