<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user_profile.css">
</head>
<body>  
    <h1>Profile Page</h1>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <%if(user.id==profile_user.id){%>
        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            <input type="file" name"avatar" placeholder="Upload Profile Picture">
            <input type="submit" value="Update">
        </form>

        <%}else{%>
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
            <% } %>

        
</body>
</html>